{%- if output.pagination_strategy is defined %}
    {%- set map_key = "data" if output.request.method.lower() == "post" and output.request.post_data is mapping else "params" %}
    {%- if output.pagination_strategy.__class__.__name__ == 'PageOnlyInfo' %}
    {{ map_key }}[{{ output.pagination_strategy.page_key | repr }}] = request_number
    {%- elif output.pagination_strategy.__class__.__name__ == 'PageOffsetInfo' %}
    {{ map_key }}[{{ output.pagination_strategy.page_key | repr }}] = request_number
    {{ map_key }}[{{ output.pagination_strategy.offset_key | repr }}] = {{ output.pagination_strategy.base_offset }} * request_number
    {%- elif output.pagination_strategy.__class__.__name__ == 'LimitOffsetInfo' %}
    {{ map_key }}[{{ output.pagination_strategy.offset_key | repr }}] = int({{ map_key }}[{{ output.pagination_strategy.limit_key | repr }}]) * request_number
    {%- elif output.pagination_strategy.__class__.__name__ == 'NextCursorInfo' %}
    if cursor:
        {{ map_key }}[{{ output.pagination_strategy.cursor_key | repr }}] = cursor
    {%- endif %}
{%- endif %}
