{% if event.action == 'build-strategy-info' %}
<div class="details">
  <strong
    >Pagination Strategy: {{ event.strategy | title | replace('-', ' ')
    }}</strong
  >

  {% if event.strategy == 'page-offset' %}
  <div class="details-grid">
    <div class="details-item">
      <strong>Page Key:</strong> {{ event.page_key }}
    </div>
    <div class="details-item">
      <strong>Offset Key:</strong> {{ event.offset_key }}
    </div>
    <div class="details-item">
      <strong>Base Offset:</strong> {{ event.base_offset }}
    </div>
  </div>
  {% elif event.strategy == 'limit-offset' %}
  <div class="details-grid">
    <div class="details-item">
      <strong>Limit Key:</strong> {{ event.limit_key }}
    </div>
    <div class="details-item">
      <strong>Offset Key:</strong> {{ event.offset_key }}
    </div>
  </div>
  {% elif event.strategy == 'page-only' %}
  <div class="details-grid">
    <div class="details-item">
      <strong>Page Key:</strong> {{ event.page_key }}
    </div>
  </div>
  {% elif event.strategy == 'next-cursor' %}
  <div class="details-grid">
    <div class="details-item">
      <strong>Cursor Key:</strong> {{ event.cursor_key }}
    </div>
    <div class="details-item">
      <strong>First Cursor:</strong> {{ event.first_cursor }}
    </div>
    <div class="details-item">
      <strong>Pagination Patterns:</strong> {{ event.pagination_patterns }}
    </div>
  </div>
  {% endif %}
</div>
{% elif event.action == 'run-step' %}
<div class="details">
  <strong>Strategy Detection Step {{ event.step_count }}</strong>
  <div class="details-grid">
    <div class="details-item"><strong>Status:</strong> {{ event.status }}</div>
    {% if event.status == 'success' %}
    <div class="details-item"><strong>Method:</strong> {{ event.method }}</div>
    <div class="details-item"><strong>URL:</strong> {{ event.url }}</div>
    {% if event.queries %}
    <div class="details-item">
      <strong>Queries:</strong>
      <div class="json-view">{{ event.queries | tojson(indent=2) }}</div>
    </div>
    {% endif %} {% if event.data %}
    <div class="details-item">
      <strong>Data:</strong>
      <div class="json-view">{{ event.data | tojson(indent=2) }}</div>
    </div>
    {% endif %} {% endif %} {% if event.exception %}
    <div class="details-item">
      <strong>Exception:</strong> {{ event.exception }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
