<div class="timeline-item">
  <div class="timeline-header">
    <h3>
      {{ event.event_type | title }} {% if event.status %}
      <span class="status {{ event.status }}">{{ event.status }}</span>
      {% endif %}
    </h3>
  </div>
  <div class="timeline-content">
    {% if event.event_type == 'analysis' %} {% include 'analysis_event.html' %}
    {% elif event.event_type == 'run-step' %} {% include 'run_step_event.html'
    %} {% elif event.event_type == 'determine-strategy' %} {% include
    'determine_strategy_event.html' %} {% elif event.event_type ==
    'code-generation' %} {% include 'code_generation_event.html' %} {% else %}
    {% include 'generic_event.html' %} {% endif %}
  </div>
</div>
